---
layout: default
---

<!-- HERO SECTION -->
<section class="hero">
  <!-- LEFT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.mast %}
      {% if item.position == 'left' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- HERO -->
  <div class="heroColumn">
    {% for item in site.mast %}
      {% if item.position == 'center' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- RIGHT HERO -->
  <div class="sideHeroColumn">
    {% for item in site.mast %}
      {% if item.position == 'right' %}
        {% include article.html item=item %}
        {% break %}
      {% endif %}
    {% endfor %}
  </div>

</section>

<!-- MASONRY SECTION -->
<section class="masonry">
  {% assign sorted_posts = site.columns | sort: "date" | reverse %}
  {% for item in sorted_posts %}
    <div class="item">
      {% include article.html item=item %}
    </div>
    <p style="text-align: center;">. . .</p>
  {% endfor %}
</section>
