<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <div class="icons">
      {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if site.linkedin %}<a href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.github %}<a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>{% endif %}
      {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <!-- <i class="fa fa-map-marker"></i> -->
      <!-- <p>Virginia, USA</p> -->
      <p><span>या कुन्देन्दुतुषारहारधवला या शुभ्रवस्त्रावृता, या वीणावरदण्डमण्डितकरा या श्वेतपद्मासना।<br>या ब्रह्माच्युत शंकरप्रभृतिभिर्देवैः सदा वन्दिता, सा मां पातु सरस्वती भगवती निःशेषजाड्यापहा॥१॥</span></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <div>
      <i class="fa fa-envelope"></i>
      <p>&lt;firstname&gt;&lt;at&gt;virginia.edu</p>
    </div>
  </div>
</footer>
