<div class="label snap">
  <dl>
    <dt>Name</dt><dd class="name"><{{name_tag}} class="label-name">Saket Upadhyay</{{name_tag}}></dd>
    <dt lang="hi">नाम</dt><dd><a class="deva" href="name.html" data-ink="how to say it" lang="hi">साकेत उपाध्याय</a></dd>
    <dt>Class</dt><dd>PhD candidate, Computer Science</dd>
    <dt>School</dt><dd>University of Virginia</dd>
    <dt>Subject</dt><dd>Memory Safety × Compilers</dd>
    <dt>ORCID</dt><dd><a href="https://orcid.org/0000-0003-0574-7843" data-ink="orcid">0000-0003-0574-7843</a></dd>
  </dl>
  <figure class="photo"><img src="images/authorprofile.webp" alt="Saket Upadhyay" width="500" height="500" data-swap-src="images/wheeliemtb.webp" data-swap-alt="Saket doing a wheelie on a mountain bike"></figure>
</div>
