---
layout: default
---

<header>
  <h1 class="page-title"><label for="search-bar">{{ page.title }}</label></h1>
</header>
<div class="content">
  {% include search-form.html %}
</div>
<br>
* Regular Google search? not exactly...
<br>
The cool stuff is, what ever you will search will be passed to <b>google.com\search</b> but,
we will also set site parameter to <b>:insite=saket-upadhyay.github.io</b> in the query, to get top results from the posts in this blog and then other sites. Neat trick right?

